[submodule "thirdparty/argvx"]
	path = thirdparty/argvx
	url = https://github.com/XnLogicaL/argvx.git
[submodule "thirdparty/mimalloc"]
	path = thirdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
